<nav
  class="navbar navbar-light"
  style="background-color: #e3f2fd; margin-bottom: 20px"
>
  <a class="navbar-brand" style="color: darkslateblue; margin-left: 25px"
    >Welcome to Authorium!</a
  >
</nav>

<form class="form-signin">
  <div class="img_box">
    <img class="img_layer" src=".\.\assets\stars.gif" />
    <img class="img_layer" src=".\.\assets\logo_transperent.png" />
  </div>
  <h5 class="form-signin-heading">You are about to become a writer.</h5>
  <div class="input-group mb-3">
    <input
      type="name"
      class="form-control"
      placeholder="Enter your name"
      aria-label="name"
      aria-describedby="basic-addon1"
      [(ngModel)]="loginUser.name"
      [ngModelOptions]="{ standalone: true }"
      required
      autofocus
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="surname"
      class="form-control"
      placeholder="Enter your surname"
      aria-label="surname"
      aria-describedby="basic-addon1"
      [(ngModel)]="loginUser.surname"
      [ngModelOptions]="{ standalone: true }"
      required
      autofocus
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">@</span>
    <input
      type="username"
      class="form-control"
      placeholder="Enter a username"
      aria-label="Username"
      aria-describedby="basic-addon1"
      [(ngModel)]="loginUser.username"
      [ngModelOptions]="{ standalone: true }"
      required
      autofocus
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="email"
      class="form-control"
      placeholder="enter your email"
      aria-label="email"
      aria-describedby="basic-addon1"
      [(ngModel)]="loginUser.email"
      [ngModelOptions]="{ standalone: true }"
      required
      autofocus
    />
  </div>

  <div class="input-group mb-3">
    <input
      type="password"
      class="form-control"
      aria-label="Password"
      placeholder="Enter password"
      [(ngModel)]="loginUser.password"
      [ngModelOptions]="{ standalone: true }"
      required
    />
  </div>

  <button
    class="btn btn-outline-primary my-2 my-sm-0"
    (click)="createUser()"
    type="submit"
  >
    Sign Up
  </button>
</form>

<footer class="py-3 my-4">
  <p class="text-center fw-bold">◼ You have authority in the Authorium ◼</p>
  <ul
    class="nav justify-content-center border-bottom pb-3 mb-3"
    style="background-color: #e3f2fd"
  >
    <li class="nav-item">
      <small class="px-2 text-muted">Discuss anything you want 💬</small>
    </li>
    <li class="nav-item">
      <small class="px-2 text-muted">Share with us what you know 📚</small>
    </li>
    <li class="nav-item">
      <small class="px-2 text-muted">Meet other Authors 🙋🏻‍♂️🙋🏼‍♀️</small>
    </li>
  </ul>
  <p class="text-center text-muted">© 2023 Authorium, Inc</p>
</footer>
